@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');

/*GLOBAL*/
*{
	font-family: 'Open Sans', sans-serif;
}
body{
	font-weight: 300;
	margin-left:15px!important;
	margin-right:15px!important; 
}
a{
	color: black!important;
}

#loadingIcon{
	 margin-top: 21%;
}
#aboutUs{
	width: 75%;
	height: 250px;
	margin-left: 12%;
	margin-top: 5%;
}
#map{
	height: 500px;
	//width: 1000px;
}
.category {
	height: 50px;
	margin-bottom: 60px;
}
.a-category{
	font-weight: 600;
	text-decoration: none;
	color: black;
	outline: none;
}
.a-category:hover{
	font-weight: 700;
	text-decoration: none;
	color: black;
	outline: none;
}
.no-padding{
	padding: 0!important;
}
.category-select{
	border-radius: 3px;
	height: 35px;
}
.legend{
	font-size: 11px;
	bottom: 25px;
}
.label-legend{
	padding-top: 5px;
	padding-bottom: 5px;
}
.label-mer{
	padding: 5px;
}
.acColor, .xnoColor, .merColor{
	height: 20px;
	width: 20px;
}
.acColor{
	margin-left: -15px;
	background-color: #124290;
}
.xnoColor{
	margin-left: -15px;
	background-color: #952C20;
}
.merColor{
	margin-left: -15px;
	background-color: #80AE38;
}
/*FIN COMERCIAL MAP*/
.shop-padding{
	padding-left: 2px;
}
.shop-info-container{
	border-left: 1px solid rgb(181, 183, 197);
	padding-left: 25px;
}
.shop-contact{
	margin-top: 10px;
}
.shop-contact label{
	color: rgb(181, 183, 197);
	font-weight: 300;
}
.shop-photos{
	margin-top: 20px;
}
/* Optional: Makes the sample page fill the window. */

/*html, body {
height: 100%;
margin: 0;
padding: 0;
}*/
#cookie-agree{
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:25px;
    width:100%;
    text-align:center;
    min-height:50px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
} 
.inner{
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
} 
.inner a.ok{
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
} 
.inner a.info{
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}

/*
#photo{
	border-radius: 15px 50px;
	margin-left: 35.5%;
	margin-bottom: 55.5%;
}
#title{
	margin-left: 60%;
	margin-top: 25%; 
}
*/
.headTitle{
	font-weight: 600;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
#typeLetter{
	font-size: 15px;
	font-weight: bold;
}
#typeLetterP{
	margin: 0 0 10px;
	position: relative;
	top: 10%;
	font-size: 14px;
}
.colorLinksHidden{
	color: black;
}
.colorLoginHidden{
	color: #52AFBA;
	margin-top: -2%;
}
.navGeneral{
	border-bottom: none;
	margin-top: 0.5%!important;
	background-color: white;
	margin-left: -15px!important;
	margin-right: -15px!important;
}
.textOverImage{
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.68);
	top: 42%;
	left: 2%;
	width: 30%;
	height: 48%;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.underline:hover{
	border-bottom: 1px solid #9E9E9E;
}
.submenuFormat{
	text-align: center;
	padding:5%!important; 
}
.widthLiAsso{
	width: 20em!important;
}
#rowForm{
	padding-right: 0%!important;
}
.sr-only{
	border-right: 2px solid black;
}
.customNav{
	width: 19.2%!important;
}
.dividerNav{
	margin-top:1.2%;
	width: 1%; 
}
#indicatorSlider{
	margin-bottom:-1%!important;
}
#footerColor{
	background-color:#659eab;
	margin-top: 5%!important;
}

.linkNom{
	font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-size: 1.4em;
    color: white!important;
}
.linkNameForm{
    color: white!important;
}
#logoText{
	margin-top: 7%;
    margin-left: -8%;
}
.footerLinksColor{
	color: white!important;
}
#contactWho{
	margin-top: 2%;
}
#marginLinks{
	padding: 1%!important;
}
#loadingData{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:white;
    opacity: 0.98;
}
#mc_embed_signup .button{
	color: black!important;
}
.navbar{
	margin-bottom: 0px!important;
}
.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse{
  text-align: center;
  background-color: white!important;  
}
.footer-bs{
    background-color: #808BA7;
	color: black;
	margin-top: 1%;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
	height: 40%!important;
}
#mc_embed_signup{
	background-color: #659eab!important;
	margin-left: 5%!important;
}
#mce-EMAIL, #mce-FNAME{
	color: black;
}

#separationLine{
	text-align: center;
}
#navGlobal>li>.hi{
	width: 300px!important;
}
.customazingNav{
	width: 20%;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

#captchaDiv{
	background-image: url("../img/captcha.jpg");
	color: gray;
	font-size: 40px;
	letter-spacing: 10px;
	margin-left: 4%;	
	text-align: center;
	vertical-align: middle;
}
#routeLi{
	margin-left: 5%; 
	margin-top: 1%
}
#contactTable{
	height: 450px;
	margin-bottom: 5%; 
	margin-left: 1.5%;
	margin-top: 5%;
}
#tbodyContactTable{
	border-left: solid 1px;
	border-color:#ced2de;
}
#titleNew{
	text-align: center;
}
#containerNew{
	margin-bottom: 5%;
}
#dataNew{
	margin-bottom: 2%;
}
#divSuccess{
	height: 50px;
    margin-top: 3%;
    text-align: center;
}   
#iniciAsso{
	color: black;
	font-weight: 600;
	text-decoration: underline;
}
#logoEixContact{
	position: absolute;
    right: 12%;
    bottom: -7%;
}
#divInfo{
	margin-top: 3.35%;	
}
#directionContact{
	margin-bottom: 2%;
	margin-left: 3%;
}
#emailContact{
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 3%;
}
#telContact{
	margin-left: 3%;
}
#infoEix{
	font-size: 17px;
}
#videoNew{
	height:255px; 
	margin-bottom: 7%;
}
.assoNews{
	width: 80%;
	height: 80%;
	border-radius: 5px;
	border: solid 1px;
	border-color: black;
}
#titleSubM{
	font-size: 25px;
	color: white;
	font-weight: 600;
}
.newsAsso{
	border-bottom: solid 1px;
	border-color: #ced2de;
	padding-bottom: 15px;
	text-align: center;
}
.dateAssoNews{
	color: #94979F;
}
.topDate{
	padding-top: 10px;
}
#assoTabCont{
	height: 450px;
	margin-bottom: 1%;
	margin-left: 10%;
}
.stylcont{
	border-left: solid 1px;
	border-color:#ced2de;
	padding: 30px;
	margin-top: 4%;
}
.pictoShops{
	width: 15px;
}
.subMA{
	color: white!important;
}
.subMA:hover{
	color: white!important;
	text-decoration: none!important;
}
.subMA:focus{
	color: white!important;
	text-decoration: none!important;
}
#subMenu{
	text-align: center;
	padding-right: 0% !important;
	background-color: #659eab;
	padding-left: 0%!important;
}
.assoDivContact{
	margin-top: 4%;
}
.formAssoContact{
	margin-left: -5%!important;
	margin-top: -15%;
}
#divImgsNew{
	padding: 0px !important;
}
#imgInNew{
	margin-bottom: 2%;	
}
#divVidsNew{
	margin-top: 2%;
}
#vidsInNew{
	margin-bottom: 2%;
}
.upperTitle{
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	margin-top: 1%;
}
#photo{
	border-radius: 10px;
	border: solid 1px black;
	padding: 0%!important;
	opacity: 0.9;
}
#photo:hover{
	opacity: 1;
}




.content{
    padding: 2%!important;
    padding-bottom: 5%!important;
    padding-top: 5%!important;
}
#categories{
    background-color: #f0f1f1!important;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15%;
}
.subCat{
    padding-bottom: 2.5%;
}
.titleOffer{
    font-weight: 600!important;
    padding: 0;
}
#shopMargin{
    margin-left: -3.5%!important;
    font-size: 20px;
}
.date{
    font-size: 12px;
    color: #969797; 
    padding-bottom: 0.5%;
    font-weight: 300!important;
}
.pictoImg{
    padding-right: 5%!important;
    margin-top: -2.5%;
}
.alert-info{
    background-color: white;
    width: 30%;
    padding: 3%;
    border-radius: 10px; 
}
.icoLight{
    padding: 2%;
}
.urlVals{
    color: black;
    font-weight: 300;
}
.urlVals:hover{
    text-decoration: none;
    color: black;
    font-weight: 600!important;
}
.urlTots
{
	font-weight: 300;
}
.urlTots:hover
{
	text-decoration: none;
	font-weight: 600;
}
.imgCat:hover{
    opacity: 0.7!important;
}
.imgOpa{
    background-color: #A8A9AB;
    z-index: 2;
    height: 40px;
    opacity: 0.8;
    position: absolute;
    bottom: 0%;
    width: 100%;
    vertical-align: middle;
    padding: 0%;
}
.addressImg{
    margin-top: 2.5%;
    font-size: 0.9em;
    color: black!important;
    padding-left: 4%;
}
.fa-map-marker{
    padding-right: 2%;
}
.imgPromoSel{
    z-index: 1;
}
.imgPadd{
    padding: 0!important;
}
.infoPromo{
    margin-top: 1%;
    padding-bottom: 4%;
}
.promosAll{
    margin-bottom: 5%!important;
}
.titleOfferPromo{
    font-weight: 600!important;
    font-size: 25px!important;
    margin-top: 8%!important;
    padding: 0;
}
.condPromo{
    margin-top: 5%!important;
    margin-left: 2%;
}
.condicionsPromo{
    font-weight: 600!important;
}
.offerPromo{
    padding-bottom: 2%!important;
    padding: 0;
}
#marginTelf{
    margin-top: 1%;
}
#marginDate{
    margin-bottom: 5%;
}
.breadCrumb{
    padding-bottom: 3%!important;
    padding-top: 3%;
}
hr.style14 { 
    width: 80%;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.imgShop{
    margin-bottom: 10%;
    padding: 0!important;
}
.condPromoShop{
    margin-top: 1%;
}
.descShopSel{
    font-size: 15px;
    text-align: center;
}
.descShopBold{
 font-weight: 600!important;
 margin-top: 10%;
}
.descShop{
    margin-top: 10%!important;
}
.descLongShop{
    padding:0!important;
}

#imgPadd{
	padding-left: 5%;
	border-bottom: solid 1px #DEE4DD;
	padding-bottom: 3%;
}
#lorem{
	padding-bottom: 0%!important;
	margin-top: 5%!important;
}
#date{
	margin-left: 5%;
	color: #C5CAC4;
	margin-bottom: 0.5%;
	margin-top: 3%;
}
#moreInfo{
	font-weight: 600;
}
#loremUPPER{
	text-transform: uppercase;
	text-align: center;
}
#linkBorder{
	border-left:none;
}
#eraseBorderNavMobile{
		border: none;
	}



















@media (min-width: 320px) { 
   .subCat{
        padding-bottom: 1%;
    }
    #categories{
        margin-bottom: 5%;
    }
    .descShopBold{
	    font-weight: 600!important;
	    margin-top: 0;
    }
   .imgLogo{
        padding-right: 5%;
    }
    .promoLogo{
        margin-bottom: 5%;
        margin-top: 2%;
    }
}
@media (min-width: 320px) and (max-width: 479px) {    
    .pictoImg{
        margin-top: -0.5%;
        width: 14%;  
    } 12:22 16/11/2017
    .infoPromo{
        margin-left: 1.6%;
    }
    .condPromo{
        margin-left: -2.3%;
    }
    .alert-info{
        width: 70%;
        padding: 5%;
    }
    .imgShop{
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 0!important;
    }
    .descShopSel{
        margin-top: 10%;
    }
    .breadCrumb{
        padding-top: 6%;
    }
    #marginDate{
        margin-bottom: 10%;
    }
}
@media (min-width: 480px) and (max-width: 575px) {    
    .pictoImg{
        margin-top: -0.5%;
        width: 12%;  
    } 
    .infoPromo{
        margin-left: 1%;
    }
    .alert-info{
        width: 60%;
        padding: 5%;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .date{
        margin-left: 4%;
    }
}

@media (max-width: 575px){
	h2{
		font-size: 1.8em;
		color: #BCBCBC;
	}
	.navGeneral{
		border-right: none;		
	}
	#generalView{
		font-size: 1em!important;
	}
	.subMenu{
		padding:  0px;
	}
	#map{
		height: 250px;
		padding: 0;
		margin-left: -20px;
		margin-right: -20px;
	}
	.fa-bookmark{
		position: absolute;
    	left: 0%;
    	top: 31%;
	}
	.footer-nav{
		padding: 10px!important;
	}
	.navReduced{
		border-top: transparent;
	}
	#imgLogoTop{
		margin-bottom: 0%;
	}
	.category {
		//height: 50px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.a-category{
		font-size: 1em;
		font-weight: 700;
		text-decoration: none;
		color: black;
		outline: none;
	}
	.category-name{
		margin-left: -10px;
	}
	.category-select	{
		margin-left: 15px;
		border-radius: 5px;
		height: 20px;
	}
	.legend{
		margin-top: 10px;
		bottom: 0px;
	}
	.label-legend{
		font-size: 0.7em;
		padding-top: 5px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin-left: 8px;
	}
	.acColor, .xnoColor, .merColor{
		height: 10px;
		width: 10px;
	}
	.acColor{
		background-color: #124290;
	}
	.xnoColor{
		background-color: #952C20;
	}
	.merColor{
		background-color: #80AE38;
	}
	.marginTopAir{
		margin-left: -8%;
		margin-top: 0.5%;		
	}
	#indicatorSlider{
	margin-bottom:-3%!important;
	}
	#logoText{
		margin-top: 5%;
		 margin-top: 5%;
    	font-size: 0.8em!important;
    	margin-left: -3%;
	}
	.headTitle{
		margin-left: -23%;
	}
	#whoTop{
		position: absolute;
    	top: -50%;
    	left: 7%;
	}
	#contactTop{
		position: absolute;
    	top: 37%;
    	left: 7%;
	}
	#contactWho{
		margin-top: 3.8%;
	}
	#loginPicture{
		position: absolute;
   		top: -12%;
    	right: -6%;
    	font-size: 1.8em!important;
	}
	.customNav{
		width: 100%!important;
	}
	#navGlobal{
		margin: 0px!important;
		text-align: left;
		background-color: white!important;
	}
	.navbar .navbar-collapse{
		text-align: left;
	}
	.arrowDown{
		position: absolute;
    	left: 32%;
    	top: 35%;
	}
	#tbodyContactTable{
		border-left: solid 0px;
	}
	.shopsList{
		padding-bottom: 20%!important;
	}
	#captchaDiv{
		background-image: url("../img/captcha.jpg");
		color: gray;
		font-size: 30px;
		letter-spacing: 10px;	
		margin-left: 4.5%;
		text-align: center;
		vertical-align: middle;
	}
	#btnEnviar{
		margin-left: 78%;
    	margin-top: 7%;
	}
	.dividerNav{
		visibility: hidden;
	}
	#telContact{
		margin-left: 3%;
		margin-bottom: 3%;
	}
	.contactMainDiv{
		font-size: 1em;
	}
	#homeIconNav{
		position: absolute;
    	left: -2%;
    	top: 30%;
	}
	.shop-name h1{
		font-size: 1.8em;
	}
	.shop-info-container{
		border: none;
		padding-left: 25px;
	}
	.shop-map #map{
		height: 150px;
	}
	.shop-image{
		margin-bottom: 5%;
	}
	#mc_embed_signup {
 		margin-left: 0%!important;
	}	
}
@media (min-width: 576px) and (max-width: 767px){

	#imgLogoTop {
    	margin-left: -7%;
	}
	#imgLogoTopId{
		max-width: 63%!important;
	}
	#logoText{
		margin-top: 4.1%!important;;
    	margin-left: -15%!important;
    	font-size: 1.2em;
	}
	#contactWho{
    	margin-top: 3.8%;
	}
	#loginPicture{
		position: absolute;
    	right: 0%;
    	top: -10%;
    	font-size: 1.8em!important;
	}
	#navGlobal{
		margin: 0px!important;
		text-align: left;
		background-color: white!important;
	}
	.customNav {
   		width: 30%!important;
	}
	.arrowDown{
		margin-left: 15%;
	}
	.footerLogos{
		max-width: 50%;
	}
	#btnEnviar{
		margin-left: 80%;
    	margin-top: 7%;
	}
	.marginTopAir{
		width: 
	}
	.dividerNav{
		visibility: hidden;
	}
	#homeIconNav{
		position: absolute;
    	left: -4%;
    	top: 33.4%;
	}	
	.shopsList{
		padding-bottom: 20%;
	}
	#captchaDiv{
		background-image: url("../img/captcha.jpg");
		color: gray;
		font-size: 40px;
		letter-spacing: 10px;	
		margin-left: 4%;
		text-align: center;
		vertical-align: middle;
	}
	#tbodyContactTable{
		border-left: solid 0px;
	}
	#contactTable{
		margin-left: 7.5%;
	}
	#mc_embed_signup {
 		margin-left: 0%!important;
 	}
 	.fa-bookmark{
 		position: absolute;
    	left: 0%;
    	top: 32%;
 	}
}
@media (min-width: 576px) and (max-width: 700px) { 
    .pictoImg{
        margin-top: -0.5%;
        width: 11%;  
    } 
    .infoPromo{
        margin-left: 0%;
    }
    .alert-info{
        width: 55%;
        padding: 5%;
    }
}  
@media (min-width: 701px) and (max-width: 767px) {    
     .pictoImg{
        margin-top: -0.5%;
        width: 11%;  
    } 
    .infoPromo{
        margin-left: 0%;
    }
    .alert-info{
        width: 55%;
        padding: 5%;
    }
}
/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {    
   .subCat{
    padding-bottom: 1%;
    }
    #categories{
        margin-bottom: 10%;
    }
    .infoPromo{
        margin-left: 8.5%;
    }
}
@media (min-width: 768px) and (max-width: 950px) {    
     .pictoImg{
        margin-top: -0.5%;
        width: 25%;  
    } 
    .alert-info{
        width: 55%;
        padding: 5%;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns{
		border-left:solid 1px rgba(255,255,255,0.10);
	}
	#homeIconNav{
		position: absolute;
		left: -6%;
    	top: 35%;
	}
	.shopsList{
		padding-bottom: 12%;
	}
	#contactTable{
		margin-left: 5%;
	}
	.shop-image{
		margin-bottom: 5%;
	}
	#imgLogoTopId{
    	max-width: 58%;
    	margin-left: -23%;
	}
	#logoText {
    	margin-top: 4.3%;
    	margin-left: -21%;
    	font-size: 1.3em;
	}
	#contactWho {
    	margin-top: 3.8%;
	}
	#loginPicture {
    	margin-top: -14%;
    	font-size: 2em!important;
    	margin-left: -50%;
	}
	.dividerNav {
    	margin-top: 2%;
    	width: 1%;
	}
	.arrowDown{
		margin-left: 9%;
	}
	.alignOneLine{
		padding-right:0%!important;
		padding-left:0%!important;
		margin-left: 5%;
	}
	.fa-bookmark{
		position: absolute;
    	right: -18%;
    	top: 36%;
	}
	.footerLogos{
		max-width: 50%;
	}
	#mc_embed_signup {
 		margin-left: 0%!important;
	}	
}
@media (min-width: 951px) and (max-width: 992px) {
    .pictoImg{
        margin-top: -0.5%;
        width: 20%;  
    } 
    .alert-info{
        width: 60%;
        padding: 5%;
    }   
}
@media (min-width: 951px) and (max-width: 1199px) {    
     .pictoImg{
        margin-top: -0.5%;
        width: 20%;  
    } 
    .alert-info{
        width: 60%;
        padding: 5%;
    }
}
@media (min-width: 992px) {   
   .subCat{
        padding-bottom: 1%;
    }
    #categories{
        margin-bottom: 10%;
    }
}
@media (max-width: 1023px){
	.titleSubE{
		position: relative;
		margin-top: 0%;
	}
	.textOverImage{
		visibility:hidden;
	}
	.breadCum{
		visibility: hidden;
		position: absolute;
	}
	.shopsList{
		padding-bottom: 5%;
	}
}
@media (min-width: 1024px) and (max-width: 1199px) {    
    
    .newsAsso{
	border-bottom: solid 1px;
	border-color: #ced2de;
	padding-bottom: 100px;
	text-align: center;
	}
}
@media (min-width: 1024px) and (max-width: 1199px){
	.subMenu:hover{
		background-color: #51576F;
		cursor: pointer;
		font-weight: 600;
		color: white!;
	}
	.arrowDown{
    	position: absolute;
    	top: 37.2%;
    	right: 15%;
	}
	.subMenu{
		padding:  30px;
	}
	#subMenu{
		margin-top: 4%;
	}
	.arrowDown{
		position: absolute;
   		top: 37.2%;
    	right: 25%;
	}
	.titleSubE{
		position: absolute;
		margin-top: 7%;
	}
	#marginBottomSlider{
		margin-bottom: 2%!important;
	}
	.breadCum{
		padding-bottom: 2%;
	}
	.breadJS{
		color: black;
	    font-weight: 600;
	    text-decoration: underline; 
	}
	#loginPicture{
		margin-top: -8%;
		font-size: 1.8em!important;
		margin-left: -47%;
	}
	.shopsList{
		padding-bottom: 2%;
	}
	#linkBorder{
	border-left: 1px solid white;
	}
	.fa-bookmark{
		margin-right: 5%;
	}
	#imgLogoTopId{		
		max-width: 46%!important;
    	margin-bottom: -2%;
    	margin-left: -16%;
	}
	#logoText {
	    position: absolute;
	    top: -27%;
	    right: 20%;
	    font-size: 1.3em;
	}
	#contactWho{
		margin-top: 3.2%;
		margin-right: -9%;
	}
	#loginPicture {
	    margin-top: -8%;
	    font-size: 1.8em!important;
	    margin-left: -47%;
	}
}
@media (min-width: 1200px){
	#captchaDiv{
		margin-left: 12.5%;
	}
	#captchaInput{
		margin-left: 5%;
		margin-right: 3%;
	}
	.paddTitleSM{
		padding-top: 8%;
	}
	.subMenu:hover{
		background-color: #51576F;
		cursor: pointer;
		font-weight: 600;
		color: white!;
	}
	#homeIconNav{
		position: absolute;
    	left: 17%;
    	top: 35%;
	}
	.subMenu{
		padding:  30px;
	}
	#subMenu{
		margin-top: 4%;
	}
	.arrowDown{
		position: absolute;
   		top: 37.2%;
    	right: 25%;
	}
	.titleSubE{
		position: absolute;
		margin-top: 7%;
	}
	#marginBottomSlider{
		margin-bottom: 2%!important;
	}
	.breadCum{
		padding-bottom: 2%;
	}
	.breadJS{
		color: black;
	    font-weight: 600;
	    text-decoration: underline; 
	}
	#loginPicture{
		margin-top: -8%;
		font-size: 1.8em!important;
		margin-left: -47%;
	}
	.shopsList{
		padding-bottom: 2%;
	}
	#linkBorder{
		border-left: 1px solid white;
	}
	.fa-bookmark{
		margin-right: 5%;
	}
	 #categories{
        margin-bottom: 10%;
        font-weight: 300;
    }
    .infoPromo{
        margin-left: 8.5%;
    }
    .alert-info{
        width: 55%;
        padding: 5%;
    }
}