<!DOCTYPE html>
	<html>
	<head>
		<title>EIX COMERCIAL</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script data-require="ng-route@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script>
			$( document ).ready(function() {
				});
		</script>
		<link rel="stylesheet" href="css/styles.css">
		<script src="js/app.js"></script>
		<script src="controllers/shops.js"></script>
		<script src="controllers/links.js"></script>
		<script src="controllers/users.js"></script>
		<script src="controllers/news.js"></script>
		<script src="controllers/slider.js"></script>
	</head> 

	<body data-ng-app="spaApp">
		<div class="row" >			
			<div class="col-sm-3">
				<tr>
					<td role="presentation"><a href="#/users/1">Qui Som?</a></td>
					<td role="presentation"><a href="#/contact/1">Contacte</a></td>
					<td role="presentation"><a href="#/new/1">New</a></td> <!-- TODO BORRAR ESTA LINEA CUANDO SE ACABE EL new.html -->

				</tr>
			</div>
		</div>	
		<div class="row">

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
  			
  				<ol class="carousel-indicators">
    				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    				<li data-target="#myCarousel" data-slide-to="1"></li>
   				</ol>
  				
  				<div class="carousel-inner">
    				<div class="item active">
      					<img id="img1" src="img/slider/Slider_Alfabetizacio tic_Corregida.jpg" alt="Alfabetització">
    				</div>
    			<div class="item">
      				<img id="img2" src="img/slider/Slider_Tastatapes_Corregida.jpg" alt="TastaTapes">
    			</div>
  			</div>

<!-- 

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
  			Indicators
  				<ol class="carousel-indicators">
    				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    				<li data-target="#myCarousel" data-slide-to="1"></li>
   					<li data-target="#myCarousel" data-slide-to="2"></li>
   				</ol>
  			Wrapper for slides
  				<div class="carousel-inner" ng-controller="SliderCtrl">
    				<div class="item active" ng-repeat="sliderImg in slider">
      					<img src="img/slider/{{sliderImg.image}}" target="_blank" alt="{{sliderImg.description}}">
    				</div>
  				</div> -->



  			<!-- Left and right controls -->
  			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left"></span>
    			<span class="sr-only">Previous</span>
  			</a>
  			<a class="right carousel-control" href="#myCarousel" data-slide="next">
    			<span class="glyphicon glyphicon-chevron-right"></span>
    			<span class="sr-only">Next</span>
  			</a>
		</div>			
		<div>
			<nav class="navbar navbar-default">
		  		<div class="container-fluid">
		    	<!-- Brand and toggle get grouped for better mobile display -->
			    	<div class="navbar-header">
			      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			    		</button>
			    	</div>
		    	<!-- Collect the nav links, forms, and other content for toggling -->
			    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    		<ul class="nav navbar-nav" id="navGlobal">
			        		<li class=navWords role="presentation"><a href="#">Mapa Comercial <span class="sr-only">(current)</span></a></li>
			        		<li class=navWords role="presentation"><a href="#/news/1">Notícies</a></li>
			        		<li class=navWords role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Associacions <span class="caret"></span></a>
			          			<ul class="dropdown-menu">
			            			<li role="presentation"><a href="#/associations/2">Associació Xavier Nogués</a></li>
						            <li role="separator" class="divider"></li>
						            <li role="presentation"><a href="#/associations/3">Associació 019</a></li>
						            <li role="separator" class="divider"></li>
						            <li role="presentation"><a href="#/associations/4">Associació Mercats del Besòs</a></li>
			          			</ul>
			        		</li>
			        		<li class=navWords role="presentation"><a href="#/promotions">Promocions</a></li>
			        		<li class=navWords role="presentation"><a href="#/formation">Formació</a></li>	
			      		</ul>    
					</div><!--/.navbar-collapse -->
		   		</div><!--/.container-fluid -->
			</nav>
			<hr>
		</div>
		<div class="row">  
			<div class="col-sm-12" data-ng-view="">
				
			</div>
		</div>	
		<footer class="footer text-center"  class="row">
			<div id="newsLetter" class="col-sm-8">
				Formulari del NewsLetter
			</div>
			<div id="enll" ng-controller="LinksCtrl" class="col-sm-4 ">
				<div class="row">
					<div ng-repeat="link in links" class="col-sm-6">
						<a href="{{link.url}}" target="_blank">{{link.description}}</a>
					</div>
				</div>	
			</div>
		</footer>
	</body>	
</html>
