<!DOCTYPE html>
	<html>
	<head>
		<title>EIX COMERCIAL</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script data-require="ng-route@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
		</script>
		<script>
			$( document ).ready(function() {
					if(getCookie('eixbesosavis')!="1"){
    					document.getElementById("barraacceptacio").style.display="block";
					}
				});

		</script>
		<link rel="stylesheet" href="css/styles.css">
		<script src="js/app.js"></script>
		<script src="controllers/shops.js"></script>
		<script src="controllers/links.js"></script>
		<script src="controllers/users.js"></script>
		<script src="controllers/news.js"></script>
		<script src="controllers/slider.js"></script>
		<script src="controllers/assoNav.js"></script>
		<script src="controllers/assoFooter.js"></script>
	</head> 

	<body data-ng-app="spaApp">
		<div class="row">
			<div class="col-xs-3" ng-controller="AssoTopImageCtrl">
				<div class="col-xs-4" id="imgLogoTop" ng-repeat="assoTopImage in assoTopImages">
					<a href="#"><img class="img-responsive" src="img/logos-assoc/{{assoTopImage.logo}}"></a>
				</div>
				<div class="col-xs-8" id="logoTexto"><h4>EIX BESÒS -</h4><h4>MARESME</h4></div>		
			</div>
			<div id="contactWho">
				<span class="col-xs-2 col-xs-offset-7 pull-right">				
				<a href="#/users/1">Qui Som?</a> | 						
				<a href="#/contact/1">Contacte</a>					
			</span>	
			</div>		
				
		</div>	
		<div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="SliderCtrl">
  			<!-- Indicators -->
  				<ol class="carousel-indicators" id="indicatorSlider">
    				<li data-target="#myCarousel" ng-repeat="sliderImg in slider"  data-slide-to="{{$index}}" ng-class="{active : $index == 0}"></li>
   				</ol>
  			<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item" ng-repeat="sliderImg in slider" ng-class="{active : $index == 0}">
						<a href="{{sliderImg.link}}" target="_blank"><img src="img/slider/{{sliderImg.image}}" alt="{{sliderImg.description}}"></a>
					</div>
				</div>
			</div>
  		</div>
  		<div class="row" >
  			<nav class="navbar navbar-default">
	  		<div class="container-fluid">
	    	<!-- Brand and toggle get grouped for better mobile display -->
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		    		</button>
		    	</div>
	    	<!-- Collect the nav links, forms, and other content for toggling -->
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    		<ul class="nav navbar-nav" id="navGlobal">
		        		<li role="presentation"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Mapa Comercial <span class="sr-only">(current)</span></a></li>
		        		<li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Associacions <span class="caret"></span></a>
		          			<ul class="dropdown-menu" ng-controller="AssoNavCtrl" id="imgNav" >
		          				<li ng-repeat="assoNav in assoNavs" role="presentation">
		          					<a href="#/associations/{{assoNav.idUser}}/{{assoNav.name}}"><img class="img-responsive" src="img/logos-assoc/{{assoNav.logo}}">{{assoNav.name}}</a>
		          					<ul role="separator" id="separatorDesign" ng-class="{divider : !$last}">				
		          					</ul>	          					
		          				</li>
		          			</ul>
		        		</li>
		        		<li  role="presentation"><a href="#/promotions">Promocions</a></li>
		        		<li  role="presentation"><a href="#/formation">Formació</a></li>
		        		<li  role="presentation"><a href="#/news/1">Notícies</a></li>	
		      		</ul>    
				</div><!--/.navbar-collapse -->
	   		</div><!--/.container-fluid -->
			</nav>  			
  		</div>		
		<div class="row">  
			<div class="col-xs-12" data-ng-view="">
				<div ng-show="loading">
					<i class="fa fa-spinner" aria-hidden="true"></i>
				</div>  				
  			</div>
  		</div>
  		<div class="row">
  			<footer class="footer-bs" id="footer">
  				<div class="col-xs-4 footer-nav animated fadeInUp pull-right" id="linkBorder">
		            	<h2 id="linkNom">Links</h2>
		            	<div id="linksFooter" ng-controller="LinksCtrl" class="col-xs-12 pull-right">
							<div class="row">
								<div ng-repeat="link in links" class="col-xs-6" id="marginLinks">
									<a href="{{link.url}}" class="footerLinksColor" target="_blank">{{link.description}}</a>
								</div>
							</div>	
						</div>        	
		        	</div>
				<div class="row" id="daleColor">
		        	<div id="mc_embed_signup">
							<form action="https://ac019.us16.list-manage.com/subscribe/post?u=8fda983e2930b92f49453f42d&amp;id=4cb43f0dc6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    							<div id="mc_embed_signup_scroll">
    								<h2>Subscriu-te al Newsletter</h2>
									<div class="indicates-required">
										<span class="asterisk">*</span>Camps obligatoris
									</div>
									<div class="mc-field-group">
    									<label for="mce-EMAIL">Adreça electrònica  <span class="asterisk">*</span>
										</label>
    									<input size="3" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Introdueixi el correu">
									</div>
									<div class="mc-field-group">
    									<label for="mce-FNAME">Nom  
    										<span class="asterisk">*</span>
										</label>
   										<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="Introdueixi el nom">
									</div>
   									<div id="mce-responses" class="clear">
        							<div class="response" id="mce-error-response" style="display:none">
        								
        							</div>
        							<div class="response" id="mce-success-response" style="display:none">
        							
        							</div>
   								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    							<div style="position: absolute; left: -5000px;" aria-hidden="true">
    								<input type="text" name="b_8fda983e2930b92f49453f42d_4cb43f0dc6" tabindex="-1" value="">
    							</div>
    							<div class="clear">
    								<input type="submit" value="Subscriu-te" name="subscribe" id="mc-embedded-subscribe" class="button">
    							</div>
    						</div>
						</form>
					</div>
			
<!--End mc_embed_signup-->	        	
		    	</div>
	    		<div class="row" ng-controller="AssoFooterCtrl">
					<div class="icoFooterEix" ng-repeat="assoFooter in assoFooters">
						<img class="img-responsive col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xs-push-4 col-sm-push-8" src="img/logos-assoc/{{assoFooter.footer}}">
					</div>
				</div>
    		</footer>
  		</div>		
    	<div id="barraacceptacio">
			<div class="inner">
	        	Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real 
	        	Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
	        	<a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
	        	<a href="http://politicadecookies.com" target="_blank" class="info">Más información</a>
   		 	</div>
		</div>
		<!--//BLOQUE COOKIES-->
		<script>
		function getCookie(c_name){
		    var c_value = document.cookie;
		    var c_start = c_value.indexOf(" " + c_name + "=");
		    if (c_start == -1){
		        c_start = c_value.indexOf(c_name + "=");
		    }
		    if (c_start == -1){
		        c_value = null;
		    }else{
		        c_start = c_value.indexOf("=", c_start) + 1;
		        var c_end = c_value.indexOf(";", c_start);
		        if (c_end == -1){
		            c_end = c_value.length;
		        }
		        c_value = unescape(c_value.substring(c_start,c_end));
		    }
		    return c_value;
		}
		 
		function setCookie(c_name,value,exdays){
		    var exdate=new Date();
		    exdate.setDate(exdate.getDate() + exdays);
		    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		    document.cookie=c_name + "=" + c_value;
		}
		 
		function PonerCookie(){
		    setCookie('eixbesosavis','1',365);
		    document.getElementById("barraacceptacio").style.display="none";
		}
		</script>
		<!--//FIN BLOQUE COOKIES-->
	</body>	
</html>

