<!DOCTYPE html>
	<html>
	<head>
		<title>EIX COMERCIAL</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script data-require="ng-route@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script>
			$( document ).ready(function() {
					if(getCookie('eixbesosavis')!="1"){
    					document.getElementById("barraacceptacio").style.display="block";
					}
				});
		</script>
		<link rel="stylesheet" href="css/styles.css">
		<script src="js/app.js"></script>
		<script src="controllers/shops.js"></script>
		<script src="controllers/links.js"></script>
		<script src="controllers/users.js"></script>
		<script src="controllers/news.js"></script>
		<script src="controllers/slider.js"></script>
		<script src="controllers/assoNav.js"></script>
	</head> 

	<body data-ng-app="spaApp">
		<div class="row">
			<div class="col-xs-3">
				<div class="col-xs-4" id="imgLogoTop">
					<img src="img/logos-assoc/4.png">
				</div>
				<div class="col-xs-8" id="logoTexto"><h4>EIX BESÒS -</h4><h4>MARESME</h4></div>		
			</div>			
			<div class="col-xs-2 col-xs-offset-7 pull-right">				
				<div class="col-xs-6"><a href="#/users/1">Qui Som?</a></div>								
				<div class="col-xs-6"><a href="#/contact/1">Contacte</a></div>					
			</div>		
		</div>	
		<div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="SliderCtrl">
  			<!-- Indicators -->
  				<ol class="carousel-indicators">
    				<li data-target="#myCarousel" ng-repeat="sliderImg in slider"  data-slide-to="{{$index}}" ng-class="{active : $index == 0}"></li>
   				</ol>
  			<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item" ng-repeat="sliderImg in slider" ng-class="{active : $index == 0}">
						<a href="{{sliderImg.link}}" target="_blank"><img src="img/slider/{{sliderImg.image}}" alt="{{sliderImg.description}}"></a>
					</div>
				</div>
			</div>
  		</div>
  		<div class="row">
  			<nav class="navbar navbar-default">
	  		<div class="container-fluid">
	    	<!-- Brand and toggle get grouped for better mobile display -->
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		    		</button>
		    	</div>
	    	<!-- Collect the nav links, forms, and other content for toggling -->
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    		<ul class="nav navbar-nav" id="navGlobal">
		        		<li class=navWords role="presentation"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Mapa Comercial <span class="sr-only">(current)</span></a></li>
		        		<li class=navWords role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Associacions <span class="caret"></span></a>
		          			<ul class="dropdown-menu" ng-controller="AssoNavCtrl" id="imgNav" >
		          				<li ng-repeat="assoNav in assoNavs" role="presentation" class="prueba">
		          					<a href="#/associations/{{assoNav.idUser}}/{{assoNav.name}}"><img class="img-fluid" src="img/logos-assoc/{{assoNav.logo}}">{{assoNav.name}}</a>
		          					<ul role="separator" id="separatorDesign" ng-class="{divider : $index != 2}">				
		          					</ul>
		          					<!-- QUE EL ULTIMO NO FUNCIONA-->	          					
		          				</li>
		          			</ul>
		        		</li>
		        		<li class=navWords role="presentation"><a href="#/promotions">Promocions</a></li>
		        		<li class=navWords role="presentation"><a href="#/formation">Formació</a></li>
		        		<li class=navWords role="presentation"><a href="#/news/1">Notícies</a></li>	
		      		</ul>    
				</div><!--/.navbar-collapse -->
	   		</div><!--/.container-fluid -->
			</nav>  			
  		</div>		
		<div class="row">  
			<div class="col-xs-12" data-ng-view="">
  				<i class="fa fa-spinner" aria-hidden="true"></i>
  			</div>
  		</div>
  		<div class="row">
  			<footer class="footer-bs" id="footer">
				<div class="row">
		            <div class="col-xs-7 col-xs-offset-1 footer-brand animated fadeInLeft pull-left">
		            	<h3>SUBSCRIU-TE A LA NOSTRA NEWSLETTER</h3>
		                <form>
		  					<div class="form-group">
		    					<label for="email">Direcció e-mail:</label>
		    					<input type="email" class="form-control" id="email">
		  					</div>  					
		  					<button type="submit" class="btn btn-default pull-right">Subscriure's</button>
						</form>
		            </div>
		        	<div class="col-xs-4  footer-nav animated fadeInUp pull-right">
		            	<h4>Links</h4>
		            	<div id="linksFooter" ng-controller="LinksCtrl" class="col-xs-12 pull-right">
							<div class="row">
								<div ng-repeat="link in links" class="col-xs-6">
									<a href="{{link.url}}" target="_blank">{{link.description}}</a>
								</div>
							</div>	
						</div>        	
		        	</div>
		    	</div>
	    		<div class="row" ng-controller="AssoFooterCtrl">




					<ul class="dropdown-menu" ng-controller="AssoNavCtrl" id="imgNav">
          				<li ng-repeat="assoNav in assoNavs" role="presentation" class="prueba">
          					<a href="#/associations/{{assoNav.idUser}}/{{assoNav.name}}"><img class="img-fluid" src="img/logos-assoc/{{assoNav.logo}}">{{assoNav.name}}</a>
          					<ul role="separator" id="separatorDesign" ng-class="{divider : $index != 2}">				
          					</ul>
          					<!-- QUE EL ULTIMO NO FUNCIONA-->	          					
          				</li>
          			</ul>






	    			<div class="icoFooterEix">
						<img class="img-fluid col-xs-2 col-sm-1 col-md-1 col-lg-1" src="img/logos-assoc/4f.png">
					</div>
					<div class="icoFooter019">
						<img class="img-fluid col-xs-2 col-sm-1 col-md-1 col-lg-1" src="img/logos-assoc/1f.png">
					</div>
					<div class="icoFooterXN">
						<img class="img-fluid col-xs-2 col-sm-1 col-md-1 col-lg-1" src="img/logos-assoc/2f.png">
					</div>
					<div class="icoFooterXN">
						<img class="img-fluid col-xs-2 col-sm-1 col-md-1 col-lg-1" src="img/logos-assoc/3f.png">
					</div>




					
				</div>
    		</footer>
  		</div>		
    	<div id="barraacceptacio">
			<div class="inner">
	        	Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real 
	        	Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
	        	<a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
	        	<a href="http://politicadecookies.com" target="_blank" class="info">Más información</a>
   		 	</div>
		</div>
		<!--//BLOQUE COOKIES-->
		<script>
		function getCookie(c_name){
		    var c_value = document.cookie;
		    var c_start = c_value.indexOf(" " + c_name + "=");
		    if (c_start == -1){
		        c_start = c_value.indexOf(c_name + "=");
		    }
		    if (c_start == -1){
		        c_value = null;
		    }else{
		        c_start = c_value.indexOf("=", c_start) + 1;
		        var c_end = c_value.indexOf(";", c_start);
		        if (c_end == -1){
		            c_end = c_value.length;
		        }
		        c_value = unescape(c_value.substring(c_start,c_end));
		    }
		    return c_value;
		}
		 
		function setCookie(c_name,value,exdays){
		    var exdate=new Date();
		    exdate.setDate(exdate.getDate() + exdays);
		    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		    document.cookie=c_name + "=" + c_value;
		}
		 
		function PonerCookie(){
		    setCookie('eixbesosavis','1',365);
		    document.getElementById("barraacceptacio").style.display="none";
		}
		</script>
		<!--//FIN BLOQUE COOKIES-->
	</body>	
</html>

