<div>
	<ul>
		<li>
			<a class="btn btn-primary btn-lg" href="#/shops/s/$scope.idUser" role="button">
				Comerços associats
			</a>
		</li>
		<li>
			<a class="btn btn-primary btn-lg" href="#/aboutUs/h/$scope.idUser" role="button">
				Història
			</a>
		</li>
		<li>
			<a class="btn btn-primary btn-lg" href="#/news/n/$scope.idUser" role="button">
				Notícies
			</a>
		</li>
		<li>
			<a class="btn btn-primary btn-lg" href="#/contact/c/$scope.idUser" role="button">
				Contacte
			</a>
		</li>
	</ul>
</div>

<div id="container"></div>