<div>
	<script>
			$(document).ready(function() {	
				$scope.idUser = $routeParams.idUser;
			});
		</script>
	<ul>
		<li>
			<button class="btn btn-primary" ng-click="listShops(idUser)">
				Comerços associats
			</button>
		</li>
		<li>
			<button class="btn btn-primary" ng-click="showHistory(idUser)">
				Història
			</button>
		</li>
		<li>
			<button class="btn btn-primary" ng-click="showNews(idUser)">
				Notícies
			</button>
		</li>
		<li>
			<button class="btn btn-primary" ng-click="showContact(idUser)">
				Contacte
			</button>
		</li>
	</ul>
</div>

<div id="container" ng-controller="AssociationsCtrl">
	<div ng-view="div1"></div>
	<div ng-view="div2"></div>
	<div ng-view="div3"></div>
	<div ng-view="div4"></div>
</div>