<div class="row">
  <div class="col-sm-12 col-lg-9 col-lg-push-3">
    <div id="map"></div>
  </div>
  <div class="col-sm-12 col-lg-3 col-lg-pull-9">
    <div class="col-xs-6 col-lg-12">
      <div ng-repeat="category in categories" class="category">
        <img class="category-pictograms img-responsive col-xs-1 col-lg-1 no-padding" ng-src="img/pictograms/{{category.urlPicto}}">
        <label class="col-xs-11 col-lg-11 category-name"><a class="a-category" href='' ng-click="categoryFilter('category', category.idCategory)">{{category.name}}:</a></label>
        <select ng-show="true" class="category-select col-xs-11 col-lg-10 col-lg-offset-2 no-padding" name="selectSubCategory" ng-change="categoryFilter('categorySub', subCategories, this)" ng-model="subCategories">
          <option disabled ng-selected="true">--Escull una subcategoria</option>
          <option ng-repeat="subCategory in category.subCategories" ng-value="subCategory.idSubCategory">{{subCategory.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 col-lg-10 col-lg-offset-4 legend">
      <div class="row label-legend">
        <label class="col-xs-11 col-xs-push-1 col-lg-10 col-lg-push-0 legend-name no-padding">AC019</label>
        <div class="col-xs-1 col-xs-pull-10 col-lg-2 col-lg-pull-0 no-padding"><div class="acColor"></div></div>
      </div>
      <div class="row label-legend">
        <label class="col-xs-11 col-xs-push-1 col-lg-10 col-lg-push-0 legend-name no-padding">Comerciants Xavier Nogués</label>
        <div class="col-xs-1 col-xs-pull-10 col-lg-2 col-lg-pull-0 no-padding"><div class="xnoColor"></div></div>
      </div>
      <div class="row label-legend">
        <label class="col-xs-11 col-xs-push-1 col-lg-10 col-lg-push-0 legend-name no-padding">Mercats Besòs</label>
        <div class="col-xs-1 col-xs-pull-10 col-lg-2 col-lg-pull-0 no-padding"><div class="merColor"></div></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row"> TODO: esborrar
  <div class="col-sm-4 col-sm-push-8" style="background-color: black;">
    select
  </div>
  <div class="col-sm-8 col-sm-pull-4" style="background-color: yellow;">
    mapa
  </div>
</div> -->
<script>
  var totalShops = 0;
  var customLabel = {};
  function initMap()
  {
    //category = "serveis";
    var map = new google.maps.Map(document.getElementById('map'), {
      center: new google.maps.LatLng(41.416962, 2.214625),
      zoom: 16
    });

    var infoWindow = new google.maps.InfoWindow;
    // Change this depending on the name of your PHP or XML file

    downloadUrl('files/shops.xml', function(data) {
      var xml = data.responseXML;
      var markers = xml.documentElement.getElementsByTagName('marker');
      
      Array.prototype.forEach.call(markers, function(markerElem) {
        //Inicio filtrado categoria
        
          //TODO: schedule, email, address(?)
          
        if(markerElem.getAttribute('preferred') == 'Y')
        {
          var name = markerElem.getAttribute('name');

          var address = markerElem.getAttribute('address');

          var telephone = markerElem.getAttribute('telephone');

          var email = markerElem.getAttribute('email');

          var schedule = markerElem.getAttribute('schedule');

          var logo = markerElem.getAttribute('logo');

          var type = markerElem.getAttribute('nameCategoria');

          var idShop = markerElem.getAttribute('idShop');

          var point = new google.maps.LatLng(
            parseFloat(markerElem.getAttribute('lat')),
            parseFloat(markerElem.getAttribute('lng'))
          );

          var infowincontent = document.createElement('div');

          var icon = document.createElement('img');
          icon.setAttribute('src', "img/logos-shops/"+logo+"");
          icon.setAttribute('width', "32");
          icon.setAttribute('height', "32");

          //icon.textContent = logo

          infowincontent.appendChild(icon);
          //infowincontent.appendChild(document.createElement('br'));

          var strong = document.createElement('strong');

          strong.textContent = name

          infowincontent.appendChild(strong);
          infowincontent.appendChild(document.createElement('br'));

          var phone = document.createElement('text');

          phone.textContent = "Tel. "+telephone

          infowincontent.appendChild(phone);
          infowincontent.appendChild(document.createElement('br'));

          var mail = document.createElement('text');

          mail.textContent = email

          infowincontent.appendChild(mail);
          infowincontent.appendChild(document.createElement('br'));

          var time = document.createElement('text');

          time.textContent = schedule

          infowincontent.appendChild(time);
          infowincontent.appendChild(document.createElement('br'));

          var link = document.createElement('a');
          link.setAttribute('href', "#/shop/"+idShop+"");

          link.textContent = "Veure més"

          infowincontent.appendChild(link);

          var icon = customLabel[type] || {};

          var marker = new google.maps.Marker({
            map: map,
            position: point,
            label: icon.label
          });

          marker.addListener('click', function() {
            //alert("Obrirem finestra amb dades del comerç");
            infoWindow.setContent(infowincontent);
            infoWindow.open(map, marker);
          });

          /*Mostrem els icones segons la categoria i associacio*/
          
          if(markerElem.getAttribute('nameCategoria')=='Alimentació')
          {
            if(markerElem.getAttribute('nameAssociacio')=='Comerciants Xavier Nogués') marker.setIcon(new google.maps.MarkerImage('img/pictograms/aliXno.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='AC019') marker.setIcon(new google.maps.MarkerImage('img/pictograms/ali019.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='Mercat Besos') marker.setIcon(new google.maps.MarkerImage('img/pictograms/aliMer.svg', null, null, null, new google.maps.Size(30, 30)));
          }
          else if(markerElem.getAttribute('nameCategoria')=='Serveis')
          {
           if(markerElem.getAttribute('nameAssociacio')=='Comerciants Xavier Nogués') marker.setIcon(new google.maps.MarkerImage('img/pictograms/servXno.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='AC019') marker.setIcon(new google.maps.MarkerImage('img/pictograms/serv019.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='Mercat Besos') marker.setIcon(new google.maps.MarkerImage('img/pictograms/servMer.svg', null, null, null, new google.maps.Size(30, 30)));
          }
          else if(markerElem.getAttribute('nameCategoria')=='Comerç al detall')
          {
            if(markerElem.getAttribute('nameAssociacio')=='Comerciants Xavier Nogués') marker.setIcon(new google.maps.MarkerImage('img/pictograms/cdXno.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='AC019')  marker.setIcon(new google.maps.MarkerImage('img/pictograms/cd019.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='Mercat Besos') marker.setIcon(new google.maps.MarkerImage('img/pictograms/cdMer.svg', null, null, null, new google.maps.Size(30, 30)));
          }
          else if(markerElem.getAttribute('nameCategoria')=='Restauració')
          {
            if(markerElem.getAttribute('nameAssociacio')=='Comerciants Xavier Nogués') marker.setIcon(new google.maps.MarkerImage('img/pictograms/restXno.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='AC019') marker.setIcon(new google.maps.MarkerImage('img/pictograms/rest019.svg', null, null, null, new google.maps.Size(30, 30)));

            else if(markerElem.getAttribute('nameAssociacio')=='Mercat Besos') marker.setIcon(new google.maps.MarkerImage('img/pictograms/restMer.svg', null, null, null, new google.maps.Size(30, 30)));
          }
        }//fin comprobacio preferred
      });
    });
  }
  function downloadUrl(url, callback) {
    var request = window.ActiveXObject ?
    new ActiveXObject('Microsoft.XMLHTTP') :
    new XMLHttpRequest;
    request.onreadystatechange = function()
    {
      if (request.readyState == 4)
      {
        request.onreadystatechange = doNothing;
        callback(request, request.status);
      }
    };
    request.open('GET', url, true);
    request.send(null);
  }
  function doNothing() {}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEK4xYm8WND_o_f84-2xRl21pl8h_DH38&callback=initMap">
</script>