<div>
		<form action="TODO">
			<table>
				<tr>
					<td>
						Correu:
					</td>
					<td>
						<input type="text" name="correu" disabled="" ng-value="contact">
					</td>
				</tr>
				<tr>
					<td>
						Nom:
					</td>
					<td>
						<input type="text" name="nom">
					</td>
				</tr>
				<tr>
					<td>
						Missatge:
					</td>
					<td>
						<textarea placeholder="Escrigui el seu missatge..."></textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="button" name="enviar" value="Enviar">
					</td>
				</tr>
			</table>
		</form>
</div>