<style>
	#captchaDiv{
		background-image: url("img/captcha.jpg");
		color: gray;
		font-size: 25px;	
		margin-left: 6%;
		text-align: center;
	}
</style>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="container">
			<li style="margin-left: 5%; margin-top: 1%">
				<a href="/#"> Inici </a><span> | </span><a href="#/news"> Contacte </a><span> | </span><span>Eix del Besòs</span>
			</li>
			<form method="GET" action="#" onsubmit="return checkform(this);" class="form-horizontal" action="models/users.php?acc=enviarMail">
		  		<table style="height: 450px; margin-bottom: 20%; margin-left: 10%; ">
		  			<tbody style="border-left: solid 1px;border-color:#ced2de; ">
			  			<div class="form-group" >
			  				<tr>
				  				<td>
					    			<label style="padding-left: 15%" class="control-label col-sm-2" for="nom">Nom:</label>
					    		</td>
					    		<td>
					    			<div class="col-sm-10">
					    				<input type="text" class="form-control" id="nom" name="nom" placeholder="Introdueixi el seu nom">
					    			</div>
			  					</td>
			  				</tr>
			  			</div>
			    		<div class="form-group">
			    			<tr>
				  				<td>
					     			<label style="padding-left: 15%" class="control-label col-sm-2" for="email">Correu Electrònic:</label>
					     		</td>
					    		<td>
					      			<div class="col-sm-10">
					        			<input type="email" class="form-control" placeholder="Introdueixi el correu electrònic">
					      			</div>
					      		</td>
			  				</tr>
			    		</div>
			    		<div class="form-group">
			    			<tr>
				  				<td>
					      			<label style="padding-left: 15%" class="control-label col-sm-2" for="message">Missatge:</label>
					      		</td>
					    		<td>
					    			<div class="col-sm-10">        
					      				<textarea class="form-control" placeholder="Escrigui el seu missatge..." id="message" name="message" rows="5"></textarea>  
					      			</div>.
					      		</td>
			  				</tr>
			    		</div>
			    		<div class="form-group">
			    			<tr>
				  				<td>
			      					<label style="padding-left: 15%" class="control-label col-sm-8" for="captcha"></label>
			      				</td>
					    		<td>
					      			<div class="col-sm-6 col-push-sm-3" id="captchaDiv">
					     			</div>
			     				</td>
			  				</tr>
			    		</div>
			    		<div class="form-group">
			    			<tr>
				  				<td>
			      				</td>
				    			<td>
		      						<div class="col-sm-10">
		      							<input type="hidden" id="txtCaptcha">
		        						<input type="text" class="form-control" name="captchaInput" id="captchaInput" placeholder="Introdueixi els números">
		      						</div>
			      					<div class="col-sm-1">
			        					<input type="button" class="btn" value="Enviar" style="background: #ced2de; margin-top: 5%">
			      					</div>
			      				</td>
			  				</tr>
			    		</div>
		    		</tbody>
				</table>
				<input type="hidden" ng-value="idUser">
		  	</form>
		</div>
	</div>
</div>
<script>
	function checkform(theform){
			var error = "";
			if(theform.captchaInput.value == ""){
			error += "- Introdueix el CAPTCHA.";
			}
			if(theform.captchaInput.value != ""){
				if(ValidCaptcha(theform.captchaInput.value) == false){
				error += " El CAPTCHA és incorrecte.";
				}
			}
			if(error != ""){
				alert(error);
				return false;
			}
		}
		var a = Math.ceil(Math.random() * 9)+ '';
		var b = Math.ceil(Math.random() * 9)+ '';
		var c = Math.ceil(Math.random() * 9)+ '';
		var d = Math.ceil(Math.random() * 9)+ '';
		var e = Math.ceil(Math.random() * 9)+ '';
		var code = a + b + c + d + e;
		document.getElementById("txtCaptcha").value = code;
		document.getElementById("captchaDiv").innerHTML = code;

		function ValidCaptcha(){
			var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
			var str2 = removeSpaces(document.getElementById('captchaInput').value);
			if (str1 == str2){
				return true;
			}
			else{
				return false;
			}
		}
		function removeSpaces(string){
		return string.split(' ').join('');
		}
</script>
