<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-4">
		<ul>
			<li>
				<a href="/#"> Inici </a><span> | </span><a href="#/news"> Notícies </a><span> | </span><span ng-repeat="new in news">{{new.title}}</span>
			</li>
		</ul>
		<div ng-repeat="new in news" style="margin-left:100px ">
			<img class="img-fluid" src="../img/imagenes/xhdpi/{{new.url}}" alt="{{new.url}}"><span>{{new.photo}}</span><br>	
			<span>{{new.title}}</span>
			<p>{{new.titleSub}}</p>
		</div>
		<div ng-repeat="subNew in subNews" style="margin-left:100px">
			<img src="../img/imagenes/xhdpi/{{new.url}}" alt="{{new.url}}">{{subNew.url}}
		</div>
			<!-- Videos TODO -->

	</a>

