<div class="row">
	<div class="col-lg-5 breadCum">		
		<div class="col-lg-12 col-lg-offset-1">
			<a class="breadJS" href="#">Inici</a>
			<span> | Notícies </span>
		</div>
	</div>
</div>
<div class="row">
	<div ng-repeat="new in news">		
		<div class="col-xs-12 col-lg-2">
			<span class="col-xs-4 col-lg-7 col-lg-push-3" id="date">{{new.date}}</span>
		</div>
		<div class="col-lg-12" id="imgPadd">
			<a href="#/new/{{new.idNew}}"><img id="photo" src="img/newsmedia/{{new.url}}" class="col-lg-6 col-xs-12 col-sm-12  col-md-6" alt=""></a>
			<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="loremUPPER">
				{{new.title}}</p>
				<div class="col-lg-5">
					<p class="text-justify" id="lorem">{{new.titleSub | limitTo: 110}}...	</p>
				</div>
			<a href="#/new/{{new.idNew}}" class="col-lg-2 col-md-4 col-sm-12 col-xs-12" id="moreInfo">
				Més info
			</a>
		</div>	
	</div>
</div>



