<div class="row">
	<div class="col-lg-5 breadCum">		
		<div class="col-lg-12 col-lg-offset-1">		
			<a class="breadJS" href="#">
				Inici
			</a>
			<span>
				| Notícies 
			</span>
		</div>
	</div>
</div>
<div class="row" ng-repeat="new in news">
	<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-1 col-sm-push-1 col-xs-push-1">
			<span id="date">
				{{new.date}}
			</span>
		</div>
	</div>
</div>
<div class="row" id="imgPadd" ng-repeat="new in news">
	<div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
		<a href="#/new/{{new.idNew}}">
			<img class="col-xs-12" id="photo" src="img/newsmedia/{{new.url}}" alt="">
		</a>
	</div>
	<div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p id="loremUPPER">
				{{new.title}}
			</p>
		</div>
		<div class="col-xs-12">
			<p class="text-justify" id="lorem">
				{{new.titleSub | limitTo: 110}}...
			</p>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
			<a href="#/new/{{new.idNew}}" id="moreInfo">
				Més info
			</a>
		</div>
	</div>
</div>



