<form name="upload" ng-submit="uploadFile()">
 <!--  <input type="text" ng-model="name"/><br>
  <input type="file" name="file" uploader-model="file"/> <br>
  <input type="submit" value="Enviar"> -->
  <div class="row col-md-12">
      <div class="col-md-4 col-md-push-1">
        <!-- <input type="text" ng-model="prueba"> -->
        <span>Nom comerç</span>
        <input type="text" id="n" ng-model="n" placeholder="nom de la tenda" value="tenda01">
      </div>
      <div id="user" class="col-md-4 col-md-push-1">
        <select id="u" ng-model="u" ng-change="userOwner(idUser)" ng-model="idUser">
          <option value="1">user 1</option>
          <option value="2">user 2</option>
        </select>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-4 col-md-push-1">
        <span>Descripció llarga</span>
        <textarea cols="21" rows="10" id="descL" ng-model="descL" value="">descripcio llarga</textarea>
      </div>
      <div class="row col-md-4 col-md-push-1">
        <div>
          <span>Descripció curta</span>
          <textarea cols="21" rows="5" id="descS" ng-model="descS" value="">descripcio curta</textarea>
        </div>
        <div class="row col-md-4 col-md-push-1">
          <span>Ciutat</span>
          <input type="text" id="c" ng-model="c" placeholder="nom de la tenda" value="bcn">
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-4 col-md-push-1">
        <span>Logo comerç</span>
        <input type="file" id="lg" name="lg" uploader-model="lg">
      </div>
      <div class="col-md-4 col-md-push-1">
        <span>Adreça electronica</span>
        <input type="text" id="url" ng-model="url" placeholder="nom de la tenda" value="webpage">
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-4 col-md-push-1">
        <span>Latitud</span>
        <input type="text" id="lat" ng-model="lat" placeholder="nom de la tenda" value="10.213456">
      </div>
      <div class="col-md-4 col-md-push-1">
        <span>Longitud</span>
        <input type="text" id="lng" ng-model="lng" placeholder="nom de la tenda" value="78.456123">
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-4 col-md-push-1">
        <span>Teléfon</span>
        <input type="text" id="p" ng-model="p" placeholder="nom de la tenda" value="932154578">
      </div>
      <div class="col-md-4 col-md-push-1">
        <span>Codi Postal</span>
        <input type="text" id="cp" ng-model="cp" placeholder="nom de la tenda" value="08018">
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-4 col-md-push-1">
        <span>Adreça</span>
        <input type="text" id="a" ng-model="a" placeholder="nom de la tenda" value="carrerbesos">
      </div>
      <div class="col-md-4 col-md-push-1">
        <span>Horari</span>
        <input type="text" id="s" ng-model="s" placeholder="nom de la tenda" value="24/7">
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-3 col-md-push-1">
        <span>Email</span>
        <input type="text" id="e" ng-model="e" placeholder="nom de la tenda" value="tenda.besos.com">
      </div>    
    </div>
    <div>
      <input type="submit" value="Confirmar canvis">
    </div>
</form>
      <!--  <script type='text/javascript' src="./bower_components/angular/angular.js"></script>
       <script type='text/javascript' src="scripts/app.js"></script> -->