 <div class="row">

	Trobar la Noticia: <input ng-model="search">
	<br>
	<a> Nova Noticia </a>
		<table border="1">
			<thead>
				<tr>
					<th>Data</th>
					<th>Imatge</th>
					<th>Titul</th>
					<th>Contingut</th>
					<th>Accions</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="new in news | filter : search">
					<td>{{new.data}}</td>
					<td>{{new.url}}</td>
					<td>{{new.title}}</td>
					<td>{{new.titleSub}}</td>
					
					<td>
						<a > borrar</a>
						<a ng-click= "selNew(new.idNew)"> editar</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>


<div  class="row">

	<div id="formNews" ng-show="showDiv" >
		<div ng-repeat="newSelected in newSelect">
		
			<form action="#" id="validation" name="validation" method="POST" >
				
				<div class="form-group row">
					<label for="dateForm" class="col-sm-6 col-form-label"> Data </label>
					<div class="col-sm-6">
						<input type="date" class="form-control" id="dateForm" name="date" ng-value="newSelected.data">
					</div>
				</div>

				<div class="form-group row">
					<label for="titleForm" class="col-sm-6 col-form-label"> Titul </label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="titleForm" name="title" ng-value="newSelected.title">
					</div>
				</div>

				<div class="form-group row">
					<label for="titleSubForm" class="col-sm-6 col-form-label"> Titul </label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="titleSubForm" name="titleSub" ng-value="newSelected.titleSub">
					</div>
				</div>

				<div class="form-group row">
					<label for="urlForm" class="col-sm-6 col-form-label"> Imatge </label>
					<div class="col-sm-6">
						<input type="file" class="form-control" id="urlForm" name="title" ng-value="newSelected.url">
					</div>
				</div>
				
					<div class="form-group">
					<input type="button" value="Send" alt="enviar dades del formulari" class="btn btn-default"" ng-click="">
					</div>
			</form>
		</div>
	</div>
</div>