<div class="col-lg-l2" id="sliderCpanel" style="margin-top: 10%">
  	<h2 class="col-lg-12">Slider</h2>  
  	<div class="row">
  		<div id="myCarousel" class="carousel slide col-lg-12" data-ride="carousel">
			<div class="col-lg-12" id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="SliderCtrl">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" ng-repeat="sliderImg in slider"  data-slide-to="{{$index}}" ng-class="{active : $index == 0}"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item" ng-repeat="sliderImg in slider" ng-class="{active : $index == 0}">
						<a href="{{sliderImg.link}}" target="_blank">
							<img src="img/slider/{{sliderImg.image}}" alt="{{sliderImg.description}}">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<span id=editarSliderSpan class="col-lg-2" style="margin-top: 10%">Editar Imatges: </span>
			<div class="col-lg-3" style="margin-top: 9.5%">
				<button class="btn btn-default col-lg-5" style="background: #96a8b0;">Afegir <i class="fa fa-plus-circle" style="margin-top: 4.5%;"></i></button>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="whiteDiv" class="col-lg-12">
			<div class="col-lg-10">
				<img class="col-lg-6" src="" alt="">
				<div class="col-lg-6">
					<span class="col-lg-12">Descripció</span>
					<input class="col-lg-12 type="text" placeholder="Lorem ipsum">
					<span class="col-lg-12">Links:</span>
					<input class="col-lg-12" type="text" placeholder="https://">
					
				</div>
			</div>
		</div>
	</div>
</div>



