<!DOCTYPE html>
<html>
<head>
	<title>EIX COMERCIAL</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script data-require="ng-route@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.js"></script>
	<script type='text/javascript' src="./bower_components/angular/angular.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body ng-app="myApp" ng-controller="LoginCtrl">
	<div ng-show="login">
		<div class="row log250"></div>
		<div class="row">
			<div id="container2" class="col-sm-12 col-md-6 col-lg-4 col-lg-offset-4">
				<div class="row">
					<h3>LOGIN</h3>
					<div class="row log20"></div>
					<div ng-show="fail">
						<div id="alertW"></div>
						<div id="alert">
							<i id="cross" class="fa fa-times" aria-hidden="true"></i>
							<b>{{statusValidation}}</b>
						</div>
					</div>
					<form id="check">
						<div class="row">
							<div class="col-lg-3"><label>Usuari: </label></div>
							<div class="col-lg-6">
								<input type="text" id="user" placeholder="Nom d'usuari" value="comerciantsbm@gmail.com" class="loginRadius">
							</div>
						</div>
						<div class="row log20"></div>
						<div class="row">
							<div class="col-lg-3">
								<label>Contrasenya: </label>
							</div>
							<div class="col-lg-6">
								<input type="password" id="pswd" placeholder="Contrasenya" value="1" class="loginRadius">
							</div>
							<div class="col-lg-3">
								<input type="button" value="Accedir" class="btn btn-default" ng-click="checking();" class="loginRadius">
							</div>
						</div>
					</form>
					<div class="row log20"></div>
					<div class="row">
						<div class="col-lg-12 col-lg-offset-3">
							<a href="" ng-click="showForgot();">Has oblidat la teva contrasenya?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="forgot">
		<div class="row log250"></div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3" id="container2">
				<h3>RECUPERA LA TEVA CONTRASENYA</h3>
				<div ng-show="failForgot">
					<div id="alertW2"></div>
					<div id="alert2">
						<i id="cross2" class="fa fa-times" aria-hidden="true"></i>
						<b>{{statusValidation}}</b>
					</div>
				</div>
				<form class="form-horizontal" id="forgot" action="#">
			  		<table id="tableForgot">
			  			<tbody>
				    		<div class="form-group">
				    			<tr>
					  				<td>
						     			<label class="control-label col-sm-2 pl15" for="email">Correu Electrònic:</label>
						     		</td>
						    		<td>
						      			<div class="col-sm-7">
						        			<input type="email" class="form-control" id="mail" name="email" class="loginRadius">
						      			</div>
						      		</td>
				  				</tr>
				    		</div>
				    			<tr class="trmb"></tr>
				    		<div class="form-group">
				    			<tr>
					  				<td>
				      					<!-- <label style="padding-left: 15%" class="control-label col-sm-2" for="captcha">Captcha:</label> -->
				      				</td>
						    		<td>
					      				<div class="col-sm-6 col-push-sm-3" id="captchaDiv"></div>
			     				</td>
				  				</tr>
				    		</div>
				    		<div class="form-group">
				    			<tr>
					  				<td>
				      					<label class="control-label col-sm-1" for="captchaIntro"></label>
				      				</td>
					    				<td>
			      						<div class="col-sm-5 mt5">
			        						<input type="text" class="form-control" id="captchaIntro" name="captchaIntro" placeholder="Introdueixi els números" class="loginRadius">
			      						</div>
				      					<div class="col-sm-1 mt5">
				        					<input type="button" class="btn" value="Enviar" ng-click="checkForgot();" style="background: #ced2de;">
				      					</div>
				      				</td>
				  				</tr>
				    		</div>
			    		</tbody>
					</table>
					<input type="hidden" id="txtCaptcha">
			  	</form>
			</div>
		</div>
	</div>
	<div class="row" id="footerLogin"> <!-- Mirar y tocar -->
		<footer class="footer-bs" id="footer">
			<div class="col-xs-7 footerLog">
				<div class="row">
					<div class="col-xs-8  col-xs-offset-3 pull-right">
						<div class="icoFooterEix" ng-repeat="ftr in footerL">
							<img class="img-responsive col-lg-3 pull-left" src="../img/logos-assoc/{{ftr.footer}}">
							{{ftr.footer}}
						</div>
					</div>
				</div>					
			</div>
    	</footer>
    </div>
	<style>
		#captchaDiv{
			background-image: url("../img/captcha.jpg");
			color: gray;
			font-size: 26px;	
			margin-left: 6%;
			text-align: center;
		}
	</style>
		<script> var app = angular.module('myApp', []);</script>
		<script>
			app.controller ('LoginCtrl', function($scope, $http, $window) {
				$scope.fail = false;
				$scope.login = true;
				$scope.forgot = false;
				$scope.failForgot = false;

				$http({
						method : "GET",
						url : "models/users.php?acc=footer"
					}).then(function mySucces (response) {
						$scope.footer=response.data;
					}, function myError (response) {
						$scope.footer = response.statusText;
					});

  				$scope.checking = function(){
  					$scope.email = check['user'].value;
  					$scope.password = check['pswd'].value;
					$http({
						method : "GET",
						url : "models/users.php?acc=login&email="+$scope.email+"&password="+$scope.password
					}).then(function mySucces (response) {
						$scope.checkL=response.data;
						//$scope.fail = false;
						$scope.statusValidation=$scope.checkL[0].status;
						console.log($scope.checkL);
						/*if($scope.statusValidation=="Correct")
						{

							$window.location.href = "main.php";
						}
						else
						{*/
							$scope.fail = true;
						/*}*/

					}, function myError (response) {
						$scope.checkL = response.statusText;
					});
					/*$http({
						method : "GET",
						url : "models/shops.php?acc=loginC&email="+$scope.email+"&password="+$scope.password
					}).then(function mySucces (response) {
						$scope.shops=response.data;
						$scope.fail = false;
						$scope.statusValidationShops=$scope.shops[0].status;
						console.log("---"+$scope.statusValidationShops+"---")
						if($scope.statusValidationShops=="Correct")
						{

							$window.location.href = "main.php";
						}
						else
						{
							$scope.fail = true;
						}

					}, function myError (response) {
						$scope.shops = response.statusText;
					});*/

						
				};
				$scope.showForgot = function(){
  					$scope.login = false;
  					$scope.forgot = true;

  					var a = Math.ceil(Math.random() * 9)+ '';
					var b = Math.ceil(Math.random() * 9)+ '';
					var c = Math.ceil(Math.random() * 9)+ '';
					var d = Math.ceil(Math.random() * 9)+ '';
					var e = Math.ceil(Math.random() * 9)+ '';
					var code = a + b + c + d + e;
					document.getElementById("txtCaptcha").value = code;
					document.getElementById("captchaDiv").innerHTML = code;
				};
				$scope.checkForgot = function(){
					$scope.mail = forgot['mail'].value;
  					$scope.captcha = forgot['captchaIntro'].value;
  					$scope.checkCaptcha = forgot['txtCaptcha'].value

  					if ($scope.captcha == $scope.checkCaptcha)
  					{
  						
  						$http({
						method : "POST",
						url : "models/users.php?acc=forgot&mail="+$scope.mail+"&captcha="+$scope.captcha
						}).then(function mySucces (response) {
							$scope.names = response.data;
							if($scope.names == "Correct") 
							{
								//$window.location.href = "main.html";
							}
							else
							{
								$scope.failForgot = true;
							}
						}, function myError (response) {
						$scope.names = response.statusText;
						});
  					}
  					else
  					{
  						alert('Captcha incorrecte');
  					}

  					
					
				}
			});
			
		</script>
</body>
</html>