@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');

/*GLOBAL*/
*{
  font-family: 'Open Sans', sans-serif;
}
/* ---------ToDo Login---------- */


body, .editNgView {
  margin-left:15px!important;
  margin-right:15px!important;
}

input
{
  height: 35px; 
}
select
{
  height: 35px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select:active{
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select:focus{
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
button.btn-add{
  outline: none;
  border: none;
  padding-left: 7px!important;
  padding-top: 3px!important;
}
label.btn-add, button.btn-add{
  height: 35px;
  font-weight: 300;
  font-size: 0.9em;
  cursor: pointer;
  opacity: 0.8;
  padding-top: 8px;
  padding-left: 17px;
  background-color: #C0D0D7;
}
.select-users{
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  background-image: url("../img/circledown.svg");
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 195px;
  background-color: #B0C2C8;
  margin-top: 3%;
}
#active
{
  width: 174px;
  background-image: url("../img/circledown.svg");
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 150px;
  background-color: #BED1D7;
}
.btn-edit, .btn-delete{
  height: 49px;
  font-size: 0.8em;
  background: #DDE3E5 !important;
  margin: 0;
  padding: 2px !important;
  border: none !important;
}
.botones{
  padding-right: 0;
  margin-right: 0;
}
#loadingData{
  position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:white;
    opacity: 0.98;
}
.no-padding{
  padding: 0;
}

.log20
{
  height: 20px
}

#cross
{
  color: #e51c23;
}
#container2
{
  border-left: solid 1px;
  border-color:#ced2de;
  padding-left: 5%;
}

#nameAssoLogged{
  position: relative;
  top: 30%;
}




#tableForgot
{
  margin-left: 10%;
}
.pl15
{
  padding-left: 15%;
}
.mt5
{
  margin-top:  5%;
}
#alertW2
{
  background-color: #ffb0b0;
  width: 100%;
  height: 10px;
}
#alert2
{
  background-color: #ffb0b0;
  width: 100%;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
}
#cross2
{
  color: #e51c23;
}
.trmb
{
  height: 10px;
}
/* ------------------------ */
/* ---------Associations---------- */
#history
{
  height: 400px;
  width: 380px;
}
.padd
{
  padding: 0%;
  padding-top: 5%;
}
#validationAssociation
{
 margin-top: 8px;
}
.padd-t
{
  padding-top: 16%;
}
.padd-p
{
  padding: 2%;
}

.pt-3
{
  padding-top: 3%;
}
.labelFor
{
  background-color: #B8C5CB;
  padding: 4% 13% 4% 13%;
}
.labelFor:active
{
  background-color: #B0BEC4;
  padding: 4% 13% 4% 13%;
}
#textTitleHistory
{
  padding-top: 11%;
  padding-bottom: 5%;
}
.title-comerços{
  margin-top: 6px;
}
.shop-cage{
  margin-top: 10px;
}
.shops-list{
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 0px;
  background-color: #FFFFFF;
  border-top: 1px solid #C5C5C5;
  border-left: 1px solid #C5C5C5;
  border-right: 1px solid #C5C5C5;
}
.subCategory-list{
  list-style-type: none;
}
.btn-subCat-delete{
  width: 22px!important;
  background-color: white;
  padding: 0;
  border-radius: 11px;
  border: 1px solid #C5C5C5;
  margin-top: -20px;
}
.images-prefered, .images-other{
  padding-top: 35px;
  padding-bottom: 25px;
  background-color: white;
  border-top: 1px solid #C5C5C5;
  border-left: 1px solid #C5C5C5;
  border-right: 1px solid #C5C5C5;
}
.btn-image-edit{
  height: 35px;
  width: 160px;
  font-weight: 300;
  font-size: 0.9em;
  cursor: pointer;
  opacity: 0.8;
  color: #101010;
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 5px;
  border: 1px solid #525252;
  background-color: #C0D0D7;
}
.images-other label.btn-add{
  margin-left: 15px;
}
.image-span{
  font-weight: 600;
  color: #6E6E6E;
  margin-top: 40px;
  margin-bottom: 10px;
}
.images-shop{
  margin-top: 10px;
  margin-bottom: 15px;
}
.images-preferred .btn-delete{
  float: right;
  height: 35px;
  margin-top: 10px;
}
.fa-plus-circle{
  color: #788386;
  padding-left: 5px;
}

/* ------------------------ */

/*.titleForm{
  width: 85%;
}*/

/*.titleSub{
  
  height: 250px;
  width: 76%;
  margin-bottom: 5%;
  margin-top: 2%;
}*/


#containerImg{
  background-color: white;
  width: 100%;
  border: 1px solid #e2e2e2;
  
}

#containerPreferred{
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 5%;
}

#containerImagesOfNew{
  margin-top: 13%;
  margin-bottom: 7%;
  margin-left: 5%;
  background-color: white;
}

.containerEditImg{
  margin-left: 20%;
  background-color: white;
  width: 65%;
  margin-top: 25%;
}

/*----------TO DO MAIN.HTML---------------*/

#container{
  background-color: #E9E9E9;
}

.editNgView{
  padding-left: 6%;
  padding-top: 3%;
}  
.colorLoginHidden{
  color: #3A6B86;
  cursor: pointer;
}




/*----------TO DO SLIDER---------------*//*----------TO DO SLIDER---------------*/

.editAndAddSlider{
  margin-bottom: 3.5%
}
#editarSliderSpan{
  margin-top: 10%;
}
#divOpcioAfegir{
  margin-top: 9.5%;
}
.slideEditAndAdd{
  margin-bottom: 3.5%;
}
#whiteSliderDiv{
  background-color: white;
  border: 1px solid black; 
  margin-top: 4%;
  padding-top: 4%; 
  margin-bottom: 10%;
}
#divSliderSetting{
  margin-bottom: 4%
}
#imgSliderSetting{
  margin-top: 0.5%;
}

#btnEditarSlider{
  margin-top: 5%;
}

#btnDeleteSlider{
  margin-top: 5%;
}
.btn-default{
  background: #96a8b0 !important;
}
#sliderText{
  margin-top: 5%;
  margin-left: 3.3%;
}
#btnEditarSlider{
  margin-left: 4.166666665%;
}
.sliderTitle{
  font-size: 17px;
  margin-bottom: 3%
}

/*------------------Footer--------------------*/


#footerColor{
  background-color:#808BA7;
  margin-top: 5%!important;
}
 #mc_embed_signup .button{
  color: black!important;
}
.footer-bs {
  background-color: #808BA7;
  color: white;
  margin-top: 1%;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
  height: 40%!important;
}
#mc_embed_signup{
  background-color: #808BA7!important;
  margin-left: 5%!important;

}
#mce-EMAIL, #mce-FNAME{
  color: black;

}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }


#separationLine{
  text-align: center;
}
#separatorDesign{
  text-decoration: none;
}

.navGlobalClass>li>.hi
{
  width: 300px!important;
}
.customazingNav{
  width: 20%;
}

.reduceNav:hover{
  background-color: #2A4C5E;
}
.colorLinksNavMobile{
  color: white!important;
}
.navbar-collapse{
  border: none!important;
  padding-left: 0px!important;
  padding-right:0px!important;
}
.navbar{
  border: 0px solid transparent;
}

.mainNav{
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
.logOffDiv{
  background-color: #D5D5D5;
  position: absolute;
  top: 120%;
  right: 0%;
  height: 40px;
  text-align: center;
  padding-top: 8.4px;
  border-top: 3px solid #7CA3E3;
}

/* Subcategories. */
.iconSubCategory{
    position: absolute;
    left: 43%;
    top: 0.65%;
    z-index: 1;
}


.labelSubCategoria{
  margin-bottom: 2%;
}

.btn-SubCategory{
  height: 49px;
  font-size: 0.8em;
  background: #d4dadc !important;
  margin: 0;
  padding: 2px !important;
  border-top: 1px solid #bbb;
}
  

.tableCategoriaSubCategoria{
  font-weight: 600;
  font-size: 20px;
  color: gray;
  margin-left: 25%;
}

.tableAlimentacioSubCategoria{
  font-weight: 600;
  font-size: 20px;
  color: gray;
  text-align: center;
}

.titleCategoria{
  margin-top: 0.57%;
}

.selectSubCategories{
  width: 200px;
  border: 1px solid black;
  background-image: url(../img/circledown.svg);
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 175px;
  background-color: #95B4BE;
  margin-bottom: 3%;
}
.inputTextSubCategories{
  width: 200px;
  border: 1px solid gray;
  margin-bottom: 3%;
}

.centerPadding{
  padding: 15px 12px;
}

.tableSubCategories{
  margin-left: auto;
}

.borderTableSubCategories{
  border: 1px solid gray;
}
.noPadding{
  padding: 0px;
}
.borderTitlesSubCategories{
  border-bottom-color: gray;
  font-size: 600;
  background: #bdd4de;
}
.borderContentSubCategories{
  border-top: 1px solid gray;
  border-bottom-color: gray;
}
.borderBtnDelSubCategories{
  border-radius: 0px;
  border-left-color: #bbb;
  border-top-color: gray;
}
.borderBtnEditSubCategories{
  border-radius: 0px;
  border-right-color: #bbb;
  border-top-color: gray;
}
#btnAfegirSubCategoria{
  margin-left: 1.35%;
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: 0px;
  width: 100px;
  height: 43px;
}

#afegirSubCategoria{
  width: 140px;
  border: 1px solid black;
  height: 50px;
  border-radius: 0px;
}
.titleSubcategoria{
  font-size: 17px;
  margin-bottom: 3%;
}
/*      L I N K S        */
.iconLinkCenter{
  width: 50px;
  position: relative;
  left: 30%;
  height: 35px;
  background: #eee;
  display: block;
  border: 1px solid gray;
}
.editDeleteIconLinks{
  position: relative;
  left: 28%;
  top: 5%;
  color: #777;
}
.thCenterLinks{
  text-align: center;
  background: #bdd4de;
}
.tdCenterLinks{
  padding-left: 9%;
}
.btnAfegirLinks {
  margin-left: 1.35%;
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: 0px;
  width: 100px;
  height: 43px;
}
.tableLinks{
  border: 1px solid;
  margin-top: 2%;
  margin-bottom: 5%;
}
.marginFormulariLinks{
  margin-bottom: 3%;
  margin-top: 0.57%;
}
.linkTitle{
  margin-bottom: 3%;
  font-size: 17px;
}
.btnConfirmarLinks{
  border: 1px solid black;
  height: 35px;
  border-radius: 0px;
}
.btnConfirmarPositionLinks{
  margin-left: 20%;
  margin-top: 5%;
}





@media (max-width: 575px){
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent!important;
  }

  .navbar-nav {
    margin: 0px -15px;
  }
  .navbar-collapse{
  border: none!important;
  padding-left: 15px!important;
  padding-right:15px!important;
  }
  .icon-bar{
    background-color: white!important;
  }
  .footerLog{
    position: absolute;
    bottom: 15px;
  }
  #nameAssoLogged{
    position: relative;
    top:23%;
    left: -9%;
  }
  .navGlobal{
    background-color: transparent!important;
    margin-bottom: 0px!important;
    border-color: transparent!important;
  }
  #eraseBorderNavMobile{
    border: none!important;
    background-color: #325C73;
  }
  .mainNav{
    padding: 2%;
    border-bottom: 0.5px solid #BEBEBE;
  }
  .deleteUnderlineSignUp{
    margin-top:25%;
  }
  .logOffDiv{
    right: 29%;
    width: 134px;
  }
  .tdCenterLinks{
    padding-left: 3%;
  }
  .btnConfirmarPositionLinks {
    margin-left: 18.5%;
  }
  .marginFormulariLinks {
    margin-bottom: 6%;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .tdCenterLinks{
    padding-left: 3%;
  }
}
@media (min-width: 768px)and (max-width: 1023px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns{
    border-left:solid 1px rgba(255,255,255,0.10);
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
    .tdCenterLinks{
    padding-left: 3%;
  }
}
@media (min-width: 1024px){
  .log250{
    height: 250px;
  }
  .footerLog{
  position: absolute;
  right: 0px;
  bottom: 15px;
  }
  .deleteUnderlineSignUp{
    margin-top:9%;
  }

}
@media (min-width: 1200px){
}



/*--------------------------------------*/

