/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
/* ---------ToDo Login---------- */
}
#alertW
{
  background-color: #ffb0b0;
  width: 100%;
  height: 10px;
}
#alert
{
  background-color: #ffb0b0;
  width: 100%;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
}
.log20
{
  height: 20px
}
.log250
{
  height: 250px;
}
#cross
{
  color: #e51c23;
}
#container2
{
  border-left: solid 1px;
  border-color:#ced2de;
  padding-left: 5%;
}
#tableForgot
{
  margin-left: 10%;
}
.pl15
{
  padding-left: 15%;
}
.mt5
{
  margin-top:  5%;
}
#alertW2
{
  background-color: #ffb0b0;
  width: 100%;
  height: 10px;
}
#alert2
{
  background-color: #ffb0b0;
  width: 100%;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
}
#cross2
{
  color: #e51c23;
}
.trmb
{
  height: 10px;
}
/* ------------------------ */

.titleForm{
  width: 85%;
}

.titleSub{
  
  height: 250px;
  width: 76%;
  margin-bottom: 5%;
  margin-top: 2%;
}


#containerImg{
  background-color: white;
  width: 100%;
  border: 1px solid #e2e2e2;
  
}

#containerPreferred{
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 5%;
}

#containerImagesOfNew{
  margin-top: 13%;
  margin-bottom: 7%;
  margin-left: 5%;
}

.containerEditImg{
  margin-left: 20%;
  background-color: white;
  width: 65%;
  margin-top: 25%;
}

/*----------TO DO MAIN.HTML---------------*/

#container{
  background-color: #E9E9E9;
}
.mainNav{
  padding: 15%;
}

#sliderCpanel{
  margin-top: 10%;
}
#editarSliderSpan{
  margin-top: 10%
}
#divOpcioAfegir{
  margin-top: 9.5%

}
#whiteSliderDiv{
  background-color: white;
  border: 1px solid black; 
  margin-top: 4%;
  padding-top: 4%; 
  margin-bottom: 10%;
}
#divSliderSetting{
  margin-bottom: 4%
}
#imgSliderSetting{
  margin-top: 0.5%;
}

#btnEditarSlider{
  margin-top: 5%;
}

#btnDeleteSlider{
  margin-top: 5%;
}
.btn-default{
  background: #96a8b0 !important;
}
#sliderText{
  margin-top: 5%;
  margin-left: 3.3%;
}
#btnEditarSlider{
  margin-left: 4.166666665%;
}