@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');

/*GLOBAL*/
*{
  font-family: 'Open Sans', sans-serif;
}
/* ---------ToDo Login---------- */

body, .editNgView {
  margin-left:15px!important;
  margin-right:15px!important;
}

input
{
  height: 35px; 
}
select
{
  height: 35px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
#loadingData{
  position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:white;
    opacity: 0.98;
}

.log20
{
  height: 20px
}

#cross
{
  color: #e51c23;
}
#container2
{
  border-left: solid 1px;
  border-color:#ced2de;
  padding-left: 5%;
}
#tableForgot
{
  margin-left: 10%;
}
.pl15
{
  padding-left: 15%;
}
.mt5
{
  margin-top:  5%;
}
#alertW2
{
  background-color: #ffb0b0;
  width: 100%;
  height: 10px;
}
#alert2
{
  background-color: #ffb0b0;
  width: 100%;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;
}
#cross2
{
  color: #e51c23;
}
.trmb
{
  height: 10px;
}
/* ------------------------ */
/* ---------Associations---------- */
#history
{
  height: 400px;
  width: 380px;
}
.padd
{
  padding: 0%;
  padding-top: 5%;
}
#validationAssociation
{
 margin-top: 8px;
}
.padd-t
{
  padding-top: 16%;
}
.padd-p
{
  padding: 2%;
}

.pt-3
{
  padding-top: 3%;
}
.labelFor
{
  background-color: #B8C5CB;
  padding: 4% 13% 4% 13%;
}
.labelFor:active
{
  background-color: #B0BEC4;
  padding: 4% 13% 4% 13%;
}
#textTitleHistory
{
  padding-top: 11%;
  padding-bottom: 5%;
}

#selectAsso
{
  margin-top: 3%;
  width: 200px;
  background-image: url("../img/circledown.svg");
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 175px;
  background-color: #95B4BE;
}
#active
{
  width: 174px;
  background-image: url("../img/circledown.svg");
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 150px;
  background-color: #BED1D7;
}

/* ------------------------ */

/*.titleForm{
  width: 85%;
}*/

/*.titleSub{
  
  height: 250px;
  width: 76%;
  margin-bottom: 5%;
  margin-top: 2%;
}*/


#containerImg{
  background-color: white;
  width: 100%;
  border: 1px solid #e2e2e2;
  
}

#containerPreferred{
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 5%;
}

#containerImagesOfNew{
  margin-top: 13%;
  margin-bottom: 7%;
  margin-left: 5%;
  background-color: white;
}

.containerEditImg{
  margin-left: 20%;
  background-color: white;
  width: 65%;
  margin-top: 25%;
}

/*----------TO DO MAIN.HTML---------------*/

#container{
  background-color: #E9E9E9;
}
.mainNav{
  padding: 15%;
}
.editNgView{
  padding-left: 6%;
  padding-top: 3%;
}  
.colorLoginHidden{
  color: #52AFBA;
  cursor: pointer;
}




/*----------TO DO SLIDER---------------*//*----------TO DO SLIDER---------------*/

.editAndAddSlider{
  margin-bottom: 3.5%
}
#editarSliderSpan{
  margin-top: 10%;
}
#divOpcioAfegir{
  margin-top: 9.5%;
}
.slideEditAndAdd{
  margin-bottom: 3.5%;
}
#whiteSliderDiv{
  background-color: white;
  border: 1px solid black; 
  margin-top: 4%;
  padding-top: 4%; 
  margin-bottom: 10%;
}
#divSliderSetting{
  margin-bottom: 4%
}
#imgSliderSetting{
  margin-top: 0.5%;
}

#btnEditarSlider{
  margin-top: 5%;
}

#btnDeleteSlider{
  margin-top: 5%;
}
.btn-default{
  background: #96a8b0 !important;
}
#sliderText{
  margin-top: 5%;
  margin-left: 3.3%;
}
#btnEditarSlider{
  margin-left: 4.166666665%;
}

/*------------------Footer--------------------*/


#footerColor{
  background-color:#808BA7;
  margin-top: 5%!important;
}
 #mc_embed_signup .button{
  color: black!important;
}
.footer-bs {
  background-color: #808BA7;
  color: white;
  margin-top: 1%;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
  height: 40%!important;
}
#mc_embed_signup{
  background-color: #808BA7!important;
  margin-left: 5%!important;

}
#mce-EMAIL, #mce-FNAME{
  color: black;

}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }


#separationLine{
  text-align: center;
}
#separatorDesign{
  text-decoration: none;
}

.navGlobalClass>li>.hi
{
  width: 300px!important;
}
.customazingNav{
  width: 20%;
}

@media (max-width: 575px){
  .footerLog{
  position: absolute;
  bottom: 15px;
  }
}
@media (max-width: 767px){
  
}
@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns{
    border-left:solid 1px rgba(255,255,255,0.10);
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 1023px){
  
  
}
@media (min-width: 1024px){
  .log250
  {
    height: 250px;
  }
  .footerLog{
  position: absolute;
  right: 0px;
  bottom: 15px;
}
}



/*--------------------------------------



