/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
/* ---------ToDo Login---------- */
}
#alertW
{
  background-color: #ffb0b0;
  width: 100%;
  height: 10px;
}
#alert
{
  background-color: #ffb0b0;
  width: 100%;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2%;

}
#cross
{
  color: #e51c23;
}
/* ------------------------ */

#titleSub{
  
  height: 250px;
  width: 85%;
  margin-bottom: 5%;
  margin-top: 2%;
}

#containerImg{
  background-color: white;
  width: 85%;
}

#containerPreferred{
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 25%;
}

#containerImagesOfNew{
  margin-top: 13%;
  margin-bottom: 7%;
  margin-left: 25%;
}

/*-------------------------*/

#container{
  background-color: #E9E9E9;
}
.prueba2{
  padding: 15%;
}

